body{
    background-color: black;
}
#container{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    max-width: 27.25em;
    padding: 3.12em 5em;
    border: 1px solid black;
    transform: translate(-50%, -50%);
    border-radius: 25px;
    background-color: rgb(80, 23, 120);
    color: white;
}

#current-time{
    text-align: center;
    padding: 10px 30px;
    font-size: 2.18em;
    font-family: "Roboto Mono", monospace;
    box-shadow: 0 0 20px rgba(0,139,253,0.25);
    border-radius: 25px;
}

#set-alarm-container{
    display: flex;
    gap: 2em;
    margin-top: 2em;
}
#inputs{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    color: white;
   
}

#inputs input{
    width: 2.8em;
    font-size: 1.3em;
    border: 1px solid whitesmoke;
    border-radius: 0.1em;
    padding: 0.4em 0.2em;
    border-radius: 20px;
    color: white;
    background: transparent;
}

#inputs select{
    width: 3em;
    font-size: 1.3em;
    border: 1px solid transparent;
    border-radius: 0.1em;
    padding: 0.4em 0.2em;
    border-radius: 20px;
    color: white;
    background: transparent;
}

#inputs select option{
    background-color: rgb(80, 23, 120);
}

#set{
    width: 5em;
    font-size: 1.3em;
    border: 1px solid transparent;
    border-radius: 0.1em;
    padding: 0.4em 0.2em;
    border-radius: 20px;
    color: white;
    background: transparent;
    cursor: pointer;
}

#inputs select:hover{
    border-color: white;
    box-shadow: 0 0 20px rgba(0,139,253,0.25);
}
#set:hover{
    border-color: white;
    box-shadow: 0 0 20px rgba(0,139,253,0.25);
}

#alarm-container{
    display: flex;
    flex-direction: column;
    margin-top: 2em;
    justify-content: center;
}

.alarm{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4em;
    color: white;
    font-size: xx-large;
    font-family: "Roboto Mono", monospace;
}

.deleteButton{
    background: transparent;
    border: none;
    
}
.deleteButton i{
    font-size: large;
    color: white;
    cursor: pointer;
}